@charset "utf-8";

section.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-entrar{
    padding-top: 50px;
}

.btn-entrar a{
    font-size: 1.5em;
}