@charset "UTF-8";

body {
    background-color: #F2F2F2;
}


div.container{
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}