.message {
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.custom-list {
    list-style: none;
    padding: 0;
}

.custom-list-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.custom-btn {
    margin-right: 10px;
}
.Container{
    margin: auto;
    
}
span{
    font-weight: 600;
    font-size: .8rem;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}
a:hover{
    text-decoration: none;
    opacity: 0.7;
}
h1{
    text-align: center;
}
.btn-add-materia{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    align-content: flex-end;
    margin-bottom: 20px;
    margin-right: 40px;
}
.btn-add-materia button{
    font-size: 1.2em;
}

.link{
    width: 100%;
}